<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= image_tag("new-logo.png", :style => "margin-top: 25px;") %>
      </div>
    </div>
  </div>
</section>

<section class="conteudo">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <h2>Você está feliz com seu trabalho?</h2>
        <p class="text-one">Está desmotivado e tem dificuldades para encontrar oportunidades?</p>
        <p class="text-two">Já pensou em como seria espetacular trabalhar em um ambiente dinâmico e empreendedor?</p><p>
        <h3><span>Transformamos</span> e <span>conectamos</span> talentos como você às <span>melhores startups</span> do mercado!</h2>

      </div>

        <div class="col-md-5">
          <div class="formulario">
            <div class="caixa">
              <%= form_with(model: Lead.new, remote: true) do |form| %>
                <div class="form-group" id="name-group">
                  <label class='control-label' for='lead_name'>Nome:</label>
                  <%= form.text_field :name, id: :lead_name, placeholder: "Nome", class: "form-control" %>
                  <div class="alert alert-danger error-lead-name" role="alert" style="display:none; margin-top: 10px;">
                    <%= fa_icon "exclamation-triangle" %>
                    <span class="sr-only">Error:</span>
                    Favor inserir o nome completo.
                  </div>
                </div>
                <div class="form-group" id='email-group'>
                  <label class="label-two control-label" for="lead_email">
                    E-mail:</label>
                  <%= form.text_field :email, id: :lead_email, placeholder: "Email", class: "form-control" %>
                  <div class="alert alert-danger error-lead-email" role="alert" style="display:none; margin-top: 10px;">
                    <%= fa_icon "exclamation-triangle" %>
                    <span class="sr-only">Error:</span>
                    Favor inserir um e-mail válido.
                  </div>
                </div>
            </div>
              <%= form.submit "QUERO TRABALHAR EM UM STARTUP!" , :onclick => "return validate();" %>
              <% end %>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Compartilhe e ajude um amigo com sua
          <font>TRANSFORMAÇÃO</font>
        </h3>
        <br>
        <br>
        <div class="social">
          <a target="_blank" href="https://pt-br.facebook.com/gamaacademybr/">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
