<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= image_tag("logo.png") %>
      </div>
    </div>
  </div>
</section>

<section class="conteudo">
  <div class="container">
    <div class="row">
      
      <div class="col-md-6">
        <h2>Você está feliz com seu trabalho?</h2>
        <p class="text-one">Está desmotivado e tem dificuldades para encontrar oportunidades?</p>
        <p class="text-two">Já pensou em como seria espetacular trabalhar em um ambiente dinâmico e empreendedor?</p><p>
        <h3><span>Transformamos</span> e <span>conectamos</span> talentos como você às <span>melhores startups</span> do mercado!</h2>
        
      </div>

        <div class="col-md-5">
          <div class="formulario">
            <div class="caixa">
              <%= form_with(model: Lead.new, remote: true) do |form| %>
                <label>
                  Nome:</label>
                <%= form.text_field :name, id: :lead_name, placeholder: "Nome", class: "form-control" %>
                <label class="label-two">
                  E-mail:</label>
                <%= form.text_field :email, id: :lead_email, placeholder: "Email", class: "form-control" %>
            </div>
              <%= form.submit "QUERO TRABALHAR EM UM STARTUP!" %>
              <% end %>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Compartilhe e ajude um amigo com sua
          <font>TRANSFORMAÇÃO</font>
        </h3>
        <br>
        <br>
        <div class="social">
          <a target="_blank" href="https://pt-br.facebook.com/gamaacademybr/">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
