<% @posts.each do |post| %>
<div class="row">
  <div class="col-md-6">
    <div class="post-img">
      <a href="/posts/<%= post.id %>"><img class="img-responsive" src="<%= post.picture %>"/></a>
    </div>
  </div>

  <div class="col-md-6">
    <div class="post-txt">
      <a href="/posts/<%= post.id %>">
        <h2><%= post.title %></h2>
      </a>
      <a href="/posts/<%= post.id %>">
        <p>
          <%= post.description %>
        </p>
      </a>
      <a class="btn btn-primary" href="javascript:fbShare('http://eunumastartup.com/posts/<%= post.id %>', 'Compartilhar', 'Compartilhar no Facebook', 'http://goo.gl/dS52U', 520, 350)">Compartilhe</a>
    </div>
  </div>
</div>
<% end %>
