<!DOCTYPE html>
<html>
  <head>
    <title>Eu numa Startup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <% if Rails.env.production? %>
    <script type="text/javascript">
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        },
        i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-102649442-1', 'auto');
    </script>
    <% end %>
    <!-- Facebook Pixel Code -->
    <script>
      !function (f, b, e, v, n, t, s) {
        if (f.fbq)
          return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments)
        };
        if (!f._fbq)
          f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
      }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1821347364846089'); // Insert your pixel ID here.
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1821347364846089&ev=PageView&noscript=1"/></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->

  </head>

  <body>
    <section class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <a href="/"><%= image_tag("new-logo.png", style: 'margin-top: 15px;') %></a>
          </div>
          <%#<div class="col-md-6">
            <button class="button">
              <a href="#quero">QUERO TRABALHAR EM UM STARTUP!</a>
            </button>
          </div>%>
        </div>
      </div>
    </section>
    <section id="post" class="conteudo">
      <div class="container">
        <%= yield %>
      </div>
    </section>

    <section id="quero" class="conteudo">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="formulario">
              <h2>
                <span>Transforme sua carreira</span>
                AGORA!</span>
            </h2>
            <div class="caixa">
              <%= form_with(model: Lead.new, remote: true) do |form_footer| %>
              <div class="form-group" id="name-group-footer">
                <label class='control-label' for='lead_name_footer'>Nome completo:</label>
                <%= form_footer.text_field :name, id: :lead_name_footer, placeholder: "Nome", class: "form-control" %>
                <div class="alert alert-danger error-lead-name-footer" role="alert" style="display:none; margin-top: 10px;">
                  <%= fa_icon "exclamation-triangle" %>
                  <span class="sr-only">Error:</span>
                  Favor inserir o nome completo.
                </div>
              </div>
              <div class="form-group" id='email-group-footer'>
                <label class="label-two control-label" for="lead_email_footer">
                  E-mail:</label>
                <%= form_footer.text_field :email, id: :lead_email_footer, placeholder: "Email", class: "form-control" %>
                <div class="alert alert-danger error-lead-email-footer" role="alert" style="display:none; margin-top: 10px;">
                  <%= fa_icon "exclamation-triangle" %>
                  <span class="sr-only">Error:</span>
                  Favor inserir um e-mail válido.
                </div>
              </div>
            </div>
            <%= form_footer.submit "QUERO TRABALHAR EM UMA STARTUP!", class: "button" , :onclick => "return validateFooter();" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Compartilhe e ajude um amigo com sua
            <font>TRANSFORMAÇÃO</font>
          </h3>
          <div class="social">
            <a href="javascript:fbShare('http://eunumastartup.com/', 'Compartilhar', 'Compartilhar no Facebook', 'http://goo.gl/dS52U', 520, 350)">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
